.copyright {
  position: absolute;
  top: 95%;
  color: #f4cec4;
  font-weight: bold;
  font-family: "Dosis";
}
.copyright__link {
  text-decoration: none;
  color: #4c4a33cb;
}
.copyright__link:hover {
  color: white;
}