.copyright {
  position: fixed;
  padding: 0.25em;
  border-radius: 10px;
  bottom: 2vh;
  color: #f4cec4;
  background-color: rgba(255, 255, 255, 0.068);
  font-weight: bold;
  font-family: "Dosis";
}
.copyright__link {
  text-decoration: none;
  color: #4c4a33cb;
}
.copyright__link:hover {
  color: white;
}