.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10vh;
  left: 20vw;
}
.mobile-nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.mobile-nav__list__item {
  position: relative;
  right: 7px;
  bottom: 4px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  padding: 8px 30px;
  background-color: #f4cec4;
  border: 2px solid #564953;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 5px rgba(255, 56, 112, 0), 7px 5px 0px 0px #ffffff;
}
.mobile-nav__list__item__link {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: #564953;
  text-decoration: none;
}
.mobile-nav__list__item__link:hover {
  color: white;
}

.li-container {
  border: 2px solid #564953;
  width: 136px;
  border-radius: 25px;
}

@media only screen and (min-width: 850px) {
  .mobile-nav {
    visibility: hidden;
  }
}