@use "variables";

html {
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("../../images/background-image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  color: variables.$chosen-purple;
}
