// Palette Colors:
$chosen-purple: #564953;
$chosen-pink: #d7aba0;
$chosen-lime: #968e4e;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  color: $chosen-purple;
}

body {
  background-image: url("../images/background-image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}
