@use "variables";

.copyright {
  position: absolute;
  top: 95%;
  color: variables.$chosen-pink;
  font-weight: bold;
  font-family: "Dosis";
  &__link {
    text-decoration: none;
    color: #4c4a33cb;
    &:hover {
      color: white;
    }
  }
}
