nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 17%;
  left: 13%;
  & ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    & li {
      text-decoration: none;
      list-style-type: none;
      & a {
        color: #564953;
        text-decoration: none;
      }
    }
  }
}
